body{
    background-image: url("/img/ESL_stadium.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size:cover;
}

   #seconnecter{
    width:400px;
    margin:auto;
    margin-top:10%;
   }
   
   form {
    width:100%;
    padding: 2em;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }

   #seconnecter h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
   }
   
   input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   
   input[type=submit] {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid gray;
   }

   .radio{
    padding-top: 20;
    padding-bottom: 20;
   }

   #annuler{
    background-color: crimson;
   }