/*BODY*/
body{
    margin:0;
    background: lightslategrey;
}

/*HEADER MENU*/
header {
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding: 1vw 4vw;
    pointer-events: auto;
    background-color: white;
}

header,a{
    text-decoration: none;
    backface-visibility: hidden;
    padding: 0.5em;
}

img{
    width:10%;
}

.menucenter{
    padding:0.8em;
}

.Menu{
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    padding:1em;
}

.navig{
        display: inline-flex;
        flex-wrap: wrap;
}

.Menunav{
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 67%;
    align-items: center;
}

.connect{
    flex-grow: 0;
    flex-shrink: 1;
    display: inline-flex;
    align-items: center; 
}

.menuright{
    justify-content: flex-end;
}

#connexion{
        line-height: normal;
        border-style: solid;
}

/*MAIN*/
main{
    display: block;
    height: 1000px;
    border:solid;
    background-image:url("/img/fondecran.jpg");
}

.titre{
    border:solid;
    color: white;
}

.buttonAdmin{
    border:solid;
}

.buttonEcurie{
    border:solid;
}

.paragraphe{
    color: white;
}

/*FOOTER*/
footer {
    left: 0;
    height: 100px;
    background-color:lightgray;
}

.paragraphefooter,p{
    margin:0;
}