<main>
        <div class="classementmain">
            <form action="##pathFormRanking##" class="formClassement">
                <h1>Sélectionner un jeu</h1>
                <input type="hidden" name="page" value="<?php echo $page;?>"/>
                <select name="jeuC" id="Clformt1">
                    ##printGameOptions##
                </select>
                <input class="buttonE" type="submit" value="Valider">
            </form>
            ##printRankingTitle##
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>Nom</th>
                            <th>Nb de Points</th>
                            <th>Plus d'informations</th>
                        </tr>
                    </thead>
                    <tbody>
                        ##printTeamRanking##
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>