<!--page accueil-->
    <main>
        <div class="mainA">
            <div class="titre" id="titreSite">
                <h1> Gestionnaire d'une saison de compétition d'E-Sport </h1>
            </div>
            <div id="divbutton">
                ##printCreateTournamentButton##
                <button class="buttonM" onclick="window.location.href='./index.php?page=listeequipe'">Liste des équipes</button>
                ##printCreateOrganizationButton##
            </div>
            <div id="divsugges">
                ##printSuggestedTournamentsForTeam##
            </div>
        </div>
    </main>
</body>
</html>