<main>
    <div class="tournoismain">
        <a href="./index.php?page=accueil" class="buttonE">Retour</a>
        <h1>Liste des Tournois</h1>
        <div>
            <div>
                <p><b>Information :</b> Les points d'un tournoi sont donnés aux 4 premières équipes par Jeu et des
                    multiplicateurs sont associés en fonction de la notoriété. Le cashprize revient à la première équipe
                    !
                </p>
            </div>
            <div>
                <h3> Filtre de recherche : </h3>
                <form action="./index.php?page=listetournoi" class="RechercheL" method="GET">
                    <input type="text" name="page" value="listetournoi" hidden/>
                    Jeu : <label>
                        <input type="text" name="jeu" value=""/>
                    </label>
                    Nom : <label>
                        <input type="text" name="nom" value=""/>
                    </label>
                    Notoriété : <label>
                        <select name="Notoriety">
                            <option default value="">Tous</option>
                            <option value="International">International</option>
                            <option value="Local">Local</option>
                            <option value="Regional">Regional</option>
                        </select>
                        Date : <label>
                            <input type="date" name="date" value=""/>
                        </label></br>
                        Lieu : <label>
                            <input type="text" name="lieu" value=""/>
                        </label>
                        PrixMin : <label>
                            <input type="number" name="prixmin" min="0"/>
                        </label>
                        PrixMax : <label><input type="number" name="prixmax" min="0"/></label>
                        <input id="reinitialiserT" type="submit" value="Réinitialiser"/>
                        <input id="rechercherT" type="submit" value="Rechercher"/>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>CashPrize</th>
                        <th>Notoriété</th>
                        <th>Lieu</th>
                        <th>Heure de début</th>
                        <th>Date</th>
                        <th>Fin Inscription</th>
                        <th>Jeu</th>
                        <th>Plus d'info</th>
                    </tr>
                </thead>
                <tbody>
                    ##FOREACH TOURNAMENT##
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>

</html>