    <main>
        <div class="listeEquipemain">
            <div class="divEquip1">
                ##FOREACHTEAMORGA##
            <h1>Liste des équipes</h1>
            <div>
                <table id="TabEquipe">
                    <caption hidden>Liste des équipes de l'écurie</caption>
                    <thead>
                        <tr>
                            <th >Nom</th>
                            <th >Ecurie</th>
                            <th >Jeu</th>
                            <th >Plus d'informations</th>
                        </tr>
                    </thead>
                    <tbody>
                        ##FOREACHTEAM##
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
</html>